*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
include
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# sources

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Local buildout config
local.cfg

# man page for node, when installed via nodeenv
share

# zc.async file
uuid.txt

# docker usage will create .ssh/known_hosts
.ssh

# must declare src directories explicitly
# because we want ploneintranet.suite not to be ignored
src/collective.celery/
src/ploneintranet.async/
src/ploneintranet.attachments/
src/ploneintranet.docconv.client/
src/ploneintranet.documentviewer/
src/ploneintranet.invitations/
src/ploneintranet.notifications/
src/ploneintranet.readstatus/
src/ploneintranet.simplesharing/
src/ploneintranet.theme/
src/ploneintranet.workspace/
src/plone.recipe.codeanalysis/
src/plonesocial.activitystream/
src/plonesocial.core/
src/plonesocial.messaging/
src/plonesocial.microblog/
src/plonesocial.network/
# misc
uuid.txt
README.txt
htmlcov/
