[buildout]
extends = dev.cfg
parts +=
    supervisor
    redis
    redis-build
    redis-server
    redis-conf

[instance]
environment-vars +=
    CELERY_ALWAYS_EAGER False
    CELERY_IMPORTS ('ploneintranet.async.demo.tasks',)
    BROKER_URL sqla+sqlite:///${buildout:directory}/celerydb.sqlite?timeout=30
    CELERY_RESULT_BACKEND db+sqlite:///${buildout:directory}/celeryresults.sqlite?timeout=30

[redis]
recipe = hexagonit.recipe.download
strip-top-level-dir = true
url = http://download.redis.io/releases/redis-2.8.14.tar.gz

[redis-build]
recipe = collective.recipe.cmd
on_install = true
on_update = false
cmds = cd ${redis:location} && make


[conf]
redis-dir = ${buildout:directory}/var
redis-port = 6379
redis-logfile = ${buildout:directory}/var/log/redis.log

[redis-server]
# If you get a traceback ending like this, then you should enable a
# part that uses zc.recipe.egg.  The recipe here misses a requirement
# in setup.py, I think.
#    from zc.recipe import egg
#ImportError: No module named recipe
recipe = collective.recipe.scriptgen
cmd = ${redis:location}/src/redis-server
arguments =
  ${buildout:directory}/redis.conf

[redis-conf]
recipe = collective.recipe.template
input = redis.conf.tpl
output = redis.conf

[supervisor]
recipe = collective.recipe.supervisor
http-socket = unix
file = ${buildout:directory}/var/supervisord.sock
plugins = superlance
programs =
   30 redis ${buildout:bin-directory}/redis-server
   40 celery ${buildout:bin-directory}/pcelery [ worker ${buildout:directory}/parts/instance/etc/zope.conf -l info ]